*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1 {
	text-align: center;
}


.sports_contatainer {
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: space-around;
	margin: 15px;
	margin-top: 25px;
	gap: 3em;
}

.sports_contatainer > div {
	background-color: grey;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	column-gap: 4px;
	gap: 10px;
	text-align: center;
	padding-bottom: 10px;
}

.content_title {
	border: inherit;
	padding: 5px;
	align-self: flex-end;
}


.content_div:nth-child(1) > .content_title {
	background-color: red;
}
.content_div:nth-child(2) > .content_title {
	background-color: blue;
}
.content_div:nth-child(3) > .content_title {
	background-color: green;
}



@media (max-width: 768px) {
	/* styling for small devices */
	.sports_contatainer {
		grid-template-columns: auto;
	}

}

@media (min-width: 768px) and (max-width: 1192px)  {
	/* styling for medium devices */
	.sports_contatainer {
		grid-template-columns: auto auto;
	}
	.content_div:nth-child(3){
		grid-column-start: 1;
		grid-column-end: 3;
	}
}



